<!DOCTYPE html>
<html lang="en">

<head>
    <title>Display Names</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .row.content {
            height: 450px
        }

        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }
    </style>
</head>

<body>

    <h1>Results</h1>
    <br>
    <h2>Here are the results of your name game!</h2>
    <p>Mom liked the names:</p>
    <ul>
        <li>Name</li>
        <li>Name</li>
        <li>Name</li>
    </ul>
    <p>Dad liked the names:</p>
    <ul>
        <li>Name</li>
        <li>Name</li>
        <li>Name</li>
    </ul>
    <h3>The best name we think you'll love for your child?</h3>
    <p>Name Last_Name!</p>
    <br>
    <br>
    <br>
    <form action="/" method="get">
        <input type="submit" value="Play Game again!">
    </form>

    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>

</body>

</html>