<!DOCTYPE html>
<html lang="en">

<head>
    <title>Name Game-Round 1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .row.content {
            height: 450px
        }

        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">NameGame</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p>Where are you at?</p>
                <p><b>Mom-Round 1</b></p>
                <p>Dad-Round 1</p>
                <p>Mom-Round 2</p>
                <p>Dad-Round 2</p>
                <p>Mom-Round 3</p>
                <p>Dad-Round 3</p>
                <p>Results!</p>
            </div>
            <div class="col-sm-8 text-left">
                <h1>Welcome to round 1, Mom!</h1>
                <p>Here are some of your name choices. Check 7 of your favorites!</p>
                <hr>
                <h3>Test</h3>
                <form action="/round1/dad" method='get'>
                    <input type="checkbox" name="baby_names[]" value="Anna">Anna<br>
                    <input type="checkbox" name="baby_names[]" value="Claire">Claire<br>
                    <input type="checkbox" name="baby_names[]" value="Marie">Marie<br>
                    <input type="checkbox" name="baby_names[]" value="Helen">Helen<br>
                    <input type="checkbox" name="baby_names[]" value="Margret">Margret<br>
                    <input type="checkbox" name="baby_names[]" value="Georgia">Georgia<br>
                    <input type="checkbox" name="baby_names[]" value="Melanie">Melanie<br>
                    <input type="checkbox" name="baby_names[]" value="Laura">Laura<br>
                    <input type="checkbox" name="baby_names[]" value="Emra">Emra<br>
                    <input type="checkbox" name="baby_names[]" value="Melody">Melody<br>
                    <input type="checkbox" name="baby_names[]" value="Heather">Heather<br>
                    <input type="checkbox" name="baby_names[]" value="Valerie">Valerie<br>
                    <input type="checkbox" name="baby_names[]" value="Peyton">Peyton<br>

                    <input type="submit" value="Continue to Round 1 For Dad">
                </form>
                <p></p>
            </div>
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>

</body>

</html>