<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/simple.css">

    <title>Display Baby Names</title>
</head>

<body>
    <h1>Baby names!</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Origin</th>
            <th>Meaning</th>
        </tr>
    </table>
    <button><a href="/">Choose Another Gender</a></button>
</body>

</html>