<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postal Rate Price</title>
</head>

<body>
    <h1>Your Postal Shipping Rate</h1>
    
    <p>Your parcel type: <%= parcelType.toLowerCase().replace(/_/g, ' '); %></p>
    <p>Weight of your parcel: <%= weight %> </p>
    <h2>Total rate for your parcel: $<%= price.toFixed(2) %></h2>
    <button><a href="/">Get another rate</a></button>
</body>

</html>